body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgba(211, 143, 143, 0.462), rgb(84, 185, 225), rgb(112, 154, 214), rgb(195, 119, 185));
}

.calculator {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

#dis {
    background:transparent;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    flex-grow: 1;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
